/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    cursor: text;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style-type: none;
    clear: left;
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    width: 350px;
    padding: 3px 8px;
    -webkit-appearance: caret;
}

ul.token-input-disabled li.token-input-token span {
  cursor: default;
}

li.token-input-token {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    margin: 3px;
    padding: 3px 5px;
    cursor: default;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    float: right;
    cursor: pointer;
}

div.token-input-dropdown {
    position: absolute;
    /* width: 400px; */
    /* background-color: #fff; */
    overflow: hidden;
    cursor: default;
    z-index: 1;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    list-style-type: none;
}

